<div class="o-about-section" data-t-name="AboutSection">
    {{pattern name="section-title" title="About me" subtitle="Some information"}}
    {{pattern name="about-me-text"}}
</div>

{{!-- Review: why are 3 sections here? A section is ONE organism and not three just bc. of content or styling --}}
