<a href={{project-link}} target="_blank">
    <div class="m-project" data-t-name="Project">
        <div class="text">
            {{pattern name="project-title" project-title=project-name}}
            {{pattern name="project-subtitle" project-languages=project-languages}}
        </div>
        {{pattern name="arrow-image"}}

    </div>
</a>