<div class="a-section-title" data-t-name="SectionTitle">
    <h1 role="heading" class="a-section-title__h1">{{title}}</h1>
    <h2 class="a-section-title__h2">{{subtitle}}</h2>
    <!--<img src="{{imageSrc}}">-->
</div>
