$regular: 17px "Source Sans Pro", Arial, sans-serif;

.a-input-field {
    &__input {
        display: block;
        margin: 25px auto;
        width: 40%;
        background: none;
        border: none;
        border-bottom: #c6d6dd solid 2px;
        opacity: 0.8;
        padding: 10px 10px;
        font: $regular;
        font-size: 13px;
		resize: vertical;

        &::placeholder {
            font: $regular;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 11px;
		}

        &:first-child {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

	&__label {
        display: none;
	}
}
