<div class="o-projects-section" data-t-name="ProjectsSection">
    {{pattern name="section-title" title="Projects" subtitle="Check this sh*t out"}}
    {{pattern name="projects-list"}}
</div>
{{!-- Review: why are 3 sections here? A section is ONE organism and not three just bc. of content or styling --}}
