<div class="container">
	<div class="col-sm-0 col-md-0 col-lg-8 offset-lg-2">
		{{pattern name="nametag"}}
	</div>
	<div class="row">
		<div class="col-sm-12 offset-sm 0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

			{{pattern name="about-section"}}

		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 offset-sm 0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

			{{pattern name="projects-section"}}

		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 offset-sm 0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

			{{pattern name="contact-section"}}

		</div>
	</div>
</div>