{{!-- Review: a-arrow-image is too specific, because it's just an instance of a blueprint (image probably) --}}
<div class="a-arrow-image" data-t-name="ArrowImage">
	{{!-- Review: inline height is not acceptable --}}
    <img height="26px" src="./assets/img/arrow-right.svg" alt="Arrow right">
</div>
