<div class="a-submit" data-t-name="Submit">
    <button class="a-submit__button">
        <strong>
            {{#if submit-text}}
            {{submit-text}}
            {{else}}
            Submit
            {{/if}}
        </strong>
    </button>
</div>