<div class="a-submit" data-t-name="Submit">
	{{!-- Review: invalid BEM --}}
    <button class="formSubmit">
        {{#if submit-text}}
            {{submit-text}}
        {{else}}
            Submit
        {{/if}}
    </button>
</div>
