<div class="a-box{{#if modifier}} a-box--{{modifier}}{{/if}}">
	{{!--  Review: No indentation and not clean code, logic seems also confusing--}}
	{{{children}}}{{#unless children}}{{{content}}}{{/unless}}
</div>
