.a-nametag {
    top: 30px;
    left: 30px;
    position: fixed;
    font-family: Times, "Times New Roman", serif;
    font-size: 19px;
}

@media screen and (max-width: 992px) {
    .a-nametag {
        display: none;
    }
}