$title: bold 70px "Source Sans Pro",
Arial,
sans-serif;
$regular: 17px "Source Sans Pro",
Arial,
sans-serif;
.a-nametag {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 14px;
    margin-top: 14px;
    &__h1 {
        font: italic 50px "Source Sans Pro", Arial, sans-serif;
    }
}