<div class="m-about-me-text" data-t-name="AboutMeText">
	{{!-- Review: incorrect indentation --}}
{{#each information}}
{{pattern name="information-block" title=this.title text=this.text}}
{{/each}}
</div>
